[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
flask-restful = "*"
sqlalchemy = "*"
blocksat-api = {git = "git://github.com/willcl-ark/blockstream_blocksat.git",ref = "master"}
submarine-api = {git = "git://github.com/willcl-ark/submarine_swaps.git",ref = "master"}

[requires]
python_version = "3.6"
